/*Comments made here are for my own personal reference*/
@media screen and (min-width: 768px) and (max-width: 1023px) { /*tablet style for width between 768 and 1023 pixels*/

/* --- HEADER ---*/

.header {
    display: flex; /*enables flexbox layout*/
    justify-content: center; /*content centred horizontally/main axis*/
    align-items: center; /*content centred vertically/main axis*/
    padding: 15px; /*space iside header*/
    border-style: double;
    background-color: #B5BAFF;
    box-shadow: 3px 3px 3px 2px #797979;
    text-align: center;
}

/* --- BODY ---*/

body {
    background-color: #9FA1FF; /*main background color*/
    font-family: Arial, Helvetica, sans-serif; /*font*/
    font-size: 15px;
}

/*--- CONTAINNER LAYOUT ---*/

.container{
    display: flex;
    flex-direction: column;
    gap: 15px; /*space between main + aside*/
    margin-bottom: 20px; /*footer pushed down*/
}

/*--- RECOMMENDATIONS FORMATTING ---*/

.content-left{
    display: flex;
    flex-direction: column; /*vertical stack*/
    flex: none; /*allocated larger portion*/
    gap: 10px;
}

/*--- MAIN CONTENT ---*/

.main{
    flex: none;
    color: black;
    width: 100%;
    height: auto;
    background-color:#AEE2FF;
    box-shadow: 3px 3px 3px 2px #797979;
    text-align: center;
    padding: 15px;
    box-sizing: border-box;
}

.main ul li {
    list-style-type: none;
}

/*--- NAVIGATION BAR ---*/

.nav {
    margin-top: 10px; /*separation from the bottom of the header border*/
    margin-bottom: 10px; /*separation from main*/
    box-shadow: 3px 3px 3px 2px #797979;
}
.nav ul{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    background-color: darkgray;
    padding: 0;
    margin: 0;
    list-style-type: none;
}
.nav li {
    flex: 1 1 33.33%;
}
.nav a {
    display: block;
    text-align: center;
    text-decoration: none;
    color: white;
    background-color: blue;
    padding: 10px;
    border-right: 1px solid white;
    border-bottom: 1px solid white;
}
.nav a:hover { /*hover over transition for navigation bar*/
    background-color: brown;
}
.nav a.active { /*transition that keeps current page highlighted on nav bar*/
    background-color: brown;
}

/*--- ASSIDE PANEL ---*/

.aside {
    flex: none;
    width: 100%;
    background-color: #D9F9DF;
    padding: 10px; /*fixing italics sticking out of background*/
    align-self: auto;
    padding-top: 0; /*reszing top of background, looks too high*/
    box-shadow: 3px 3px 3px 2px #797979;
    animation-duration: 20s;
    animation-iteration-count: infinite;
    box-sizing: border-box;
}

/*--- DATA LIST ---*/

label {
    display: inline-block;
    width: 170px;
    text-align: right;
    margin-right: 10px;
}

/*--- LABEL LIST FOR RESGISTER ---*/

label {
    display: inline-block;
    width: 150px;
    text-align: center;
}

.option-group { /* groups related form options together, such as gender radio buttons and Dietary Preference checkboxes*/
    text-align: left;
    width: 300px;
    margin: 10px auto;
}

.option-group span {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

.option-group label {
    display: block;
    width: auto;
    text-align: left;
    margin: 5px 0;
}

fieldset { /*border of registration box*/
    width: 90%;
    max-width: 650px;
    margin: 20px auto;
    padding: 20px;
    border: 3px solid black;
}

/*--- IMAGE CONFIG ---*/

.photo-box {
    padding: 12px; /*reszing image*/
}
.photo-box h2 {
    margin-top: 0;
    margin-bottom: 10px;
}
.photo-box img {
    width: 100%; /*scaling to note section*/
    height: auto;
}

/*--- RESERVATION FORM ALIGNMENT ---*/

#reservationForm p { /*#  Selects the HTML element with id="reservationForm".*/
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 12px 0;
}

#reservationForm label {
    width: 180px;
    text-align: right;
    margin-right: 20px;
}

#reservationForm input,
#reservationForm select {
    width: 220px;
}

fieldset p input[type="checkbox"] {
    width: auto;
}
}